html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-size: 1.5em;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
}

.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  margin-bottom: 1em;
  padding: 1em;
  background:#000;
  color: #fff;
}

header a {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}

.backToHome {
  margin: 3rem 0 0;
}


img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.author {
  display: block;
  font-size: 1em;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}


.heading2Xl {
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  width: 33.333333%;
  margin: 1.5rem;
}

.list h2 span {
  display: block;
}

.lightText {
  color: #666;
}

.wrap {
  display: flex;
  justify-content: center;
  align-content: center;
}

.wrap article {
  width: 60%
}

.time { display: block }
